
body {
	background-color: #fff;
}

.hidden {
	display: none;
}

.container {
	background-color: #eee;
	width: 99%;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #c0b283;
	box-shadow: 1px 1px 5px #373737;
}

.nav-space {
	height: 60px;
	margin: 0;
}

ul {
	list-style-type: none;
	justify-content: flex-end;
}

li {
	padding: 0.1em;
	display: inline-block;
	margin-right: 1.5em;
	font-family: Neucha, cursive;
	font-size: 1.5em
}

ul li a, ul li a:hover {
	color: inherit;
	text-decoration: none;
}

/*STYLES FOR RESPONSIVE NAV*/

ul li:hover {
	background: #373737;
	color: #f4f4f4;
}

/*HEADER STYLES*/
header, section {
	background-color: #fff;
	width: 90%;
	margin: 0 auto;
	min-height: 85vh;
}

header {
	height: 85vh;
	background-image: url('../img/nashville.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-align: center;
}

h1, h2, h3 {
	font-family: Neucha, cursive;
	margin-left: 0;
	color: #373737;
}

h1 {
	font-size: 5em;
	color: #555;
	text-shadow: 1px 1px 0 #f4f4f4;
}
header h2 {
	color: #373737;
	text-shadow: 1px 1px 0 #f4f4f4;
	font-size: 1.5em;
}

pre {
	font-family: inherit;
}

.heading {
	width: 100%;
	background-color: #DCD0C0;
	box-shadow: 1px 1px 5px #373737;

}

.heading h2 {
	padding-left: 1em;
}


p {
	margin: 0 0 1em 1em;
	font-family: 'Nunito', sans-serif;
	font-size: 0.9em;
	color: #373737;
}

figcaption {
	font-family: 'Nunito', sans-serif;
	color: #373737;
}


/*ABOUT STYLES*/

.bio-pic img {
	border: 5px solid #C0B283;
	border-radius: 100%;
	margin: 1em;
	max-width: 100%;
}
p:first-child {
	margin-top: 3em;
}

/*PROJECTS STYLES*/
section#portfolio {
	padding-bottom: 3em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.portfolio-display {
	margin: 1em;
}

#portfolio img {
	margin: 0;
	width: 100%;
	box-shadow: 1px 1px 5px #373737;
}

#portfolio h3 {
	font-size: 2em;
	margin-top: 1em;
}

/*BLOG STYLES*/
article {
	margin: 0;
}

h6 {
	margin: 1em;
	font-family: 'Nunito', sans-serif;
}

p#body1, p#body2 {
	max-width: 600px;
}


p.read-more {
	margin-bottom: 2em;
}

/*CONTACT STYLES*/
section#contact-sec {
	padding: 2em;
}

textarea {
	height: 300px;
}

.social-buttons {
	text-align: center;
}

i {
	margin: 0.1em;
}

/*FOOTER STYLES*/
footer {
	background-color: #222;
}
footer h6 {
	color: #000;
	margin: 1em;
	float: right;
}

@media (min-width: 777px) {
	.portfolio-display {

		margin: 0 1em;
	}

	p {
		font-size: 1.2em;
	}
}


/*SAVE THESE STYLES FOR LARGER VIEWPORTS*/
/*p font-size: 1.2em;*/
